html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.navbar {
   margin-bottom: 0;
}

.main-container, #mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 10px;
  display: none;
}

.lot-profile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  background: rgba(255, 255, 255, 0.95);
  padding: 10px 15px;
  overflow: hidden;
  z-index: 10;
  transform: translate(320px, 0px);
  transition: transform .45s cubic-bezier(.23,1,.32,1) 0ms;
}

.lot-profile .close-button {
  font-size: 18px;
}

.lot-profile .close-button:hover {
  cursor: pointer;
}

.lot-profile .header {
  border-bottom: 1px solid #ccc;
  padding-bottom: 12px;
  padding-top: 3px;
}

.lot-profile .header h3 {
  margin: 0;
  padding-top: 0px;
  font-size: 19px;
}

.lot-profile .header p {
  margin: 0;
  color: #7486c7;
  font-family: 'Cambay', sans-serif;
  font-size: 16px;
}

.lot-profile .attribute-list {
  position: absolute;
  top: 94px;
  overflow: scroll;
  bottom: 0;
  right: 15px;
  left: 15px;
}

.lot-profile .attribute-list-item {
  border-bottom: 1px solid #ccc;
  padding-top: 3px;
  padding-bottom: 5px;
}

.lot-profile .attribute-list-item .key {
  font-family: 'Cambay', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 0;
  color: #6f82c5;
}

.lot-profile .attribute-list-item .value {
  margin-bottom: 0;
  font-size: 18px;
  padding-left: 24px;
}

.title-banner {
  z-index: 10;
  position: absolute;
  top: 15px;
  left: 0;
  color: #2c4786;
  padding: 6px 24px;
  background: rgba(255, 255, 255, 0.95);
}

.title-banner h2 {
  margin: 0;
  font-size: 34px;
  margin-bottom: 2px;
}

.title-banner p {
  margin: 0;
  font-size: 11px;
}

.toast {
  background: rgba(255, 255, 255, 0.95);
  position: absolute;
  z-index: 10;
  padding: 6px 34px;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
}

.toast p {
  margin: 0;
  font-size: 12px;
  line-height: 10px;
  margin-top: 2px;
}

.react-autosuggest__container {
  z-index: 10;
  position: absolute;
  top: 95px;
  background: rgba(255, 255, 255, 0.95);
  height: 36px;
}

.react-autosuggest__container input {
  font-size: 14px;
  background: transparent;
  border: none;
  height: 36px;
  width: 355px;
  padding: 0 10px;
}

.react-autosuggest__container input:focus {
  outline-width: 0
}

.react-autosuggest__container ul {
  list-style-type: none;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.95);
  border-top: 1px solid #ddd;
}

.react-autosuggest__container ul:hover {
  cursor: pointer;
}

.react-autosuggest__container li {
  padding: 8px 0px;
}
