html, body {
  height: 100%;
  width: 100%;
}

.navbar {
   margin-bottom: 0;
}

.main-container, #mapContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#tooltip {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  padding: 10px;
  display: none;
}

.lot-profile {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 320px;
  background: rgba(125, 125, 125, 0.59);
  color: white;
  padding: 20px;
}
